name: CI Build

on:
  push:
    branches:
      - main
      - develop
  schedule:
    - cron: "0 8 * * 1" # At 08:00 on Monday

jobs:
  unit-test:
    runs-on: ubuntu-latest
    env:
      DOTNET_CLI_TELEMETRY_OPTOUT: 'true'
    steps:
      - name: Setup .Net
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: |
            8.0.x
            9.0.x
            10.0.x
      - uses: actions/checkout@v5
      - name: Restore
        run: dotnet restore --nologo src
      - name: Build
        run: dotnet build --no-restore --nologo --configuration Release src
      - name: Test
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DAKTELA_ApiKey: ${{ secrets.DAKTELA_API_KEY }}
          DAKTELA_BaseUrl: ${{ secrets.DAKTELA_BASE_URL }}
        run: dotnet test --no-build --configuration Release src

  code-style:
    runs-on: ubuntu-latest
    env:
      DOTNET_CLI_TELEMETRY_OPTOUT: 'true'
    steps:
      - uses: actions/checkout@v5
      - name: Setup .Net 10.0.x
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: '10.0.x'
      - name: Restore
        run: dotnet restore --nologo src
      - name: .Net Format
        run: dotnet format --no-restore --verify-no-changes -v diag src
